<div class="results">
  <div class="wish-card">
    <div class="wish-card-inner">
      <%= render "vote_buttons", wish: @wish %>
      <div>
        <h2>Tvoja želja</h2>
        <p class="wish-content"><%= @wish.content %></p>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag "matches", src: matches_wish_path(@wish), loading: :eager do %>
    <div class="loading">
      <div class="spinner"></div>
      <p>Umetna inteligenca analizira tvojo željo in jo primerja s programi strank...</p>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to "Nova želja", root_path, class: "btn" %>
  </div>
</div>
